body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1e1e1e;
    color: white;
}

.escena {
    padding: 50px 20px;
}

.personaje img {
    width: 300px;
    border-radius: 15px;
    margin-top: 20px;
}

.dialogo {
    background: rgba(0,0,0,0.7);
    padding: 15px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
}

.boton {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: orange;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}