body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cce7ff; /* azul pastel */
}

/* contenedor de cada escena */
.escena {
    padding: 50px;
}

/* imágenes y videos */
.personaje img,
.personaje video {
    width: 300px;
    border-radius: 15px;
    margin-top: 20px;
}

/* texto */
.dialogo {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
}

/* botones */
.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #4da6ff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

/* efecto al pasar el mouse */
.boton:hover {
    background: #3399ff;
}